@import "../../assets/main.scss";

.cvsection {
  overflow: hidden;
  width: 90%;
  height:80vh;
  margin:1% auto;
  padding: 3%;
  font-size: 80%;
  position: relative;

  h2{
    text-align: center;
    color: $maincolor;
  }
}

.box:nth-child(1) {
  top: 5%;
  left: 5%;
}
.box:nth-child(2) {
  top: 14%;
  left: 12%;
}
.box:nth-child(3) {
  top: 8%;
  left: 58%;
}
.box:nth-child(4) {
  top: 50%;
  left: 5%;
}
.box:nth-child(5) {
  top: 20%;
  left: 40%;
}
.box:nth-child(6) {
  top: 49%;
  left: 80%;
}
.box:nth-child(7) {
  top: 63%;
  left: 88%;
}
.box:nth-child(8) {
  top: 35%;
  left: 20%;
  
}
.box:nth-child(9) {
  top: 80%;
  left: 70%;
}
.box:nth-child(10) {
  top: 25%;
  left: 5%;
}
.box:nth-child(11) {
  top: 5%;
  left: 40%;
}
.box:nth-child(12) {
  top: 70%;
  left: 54%;
}

.divider {
  color: $black;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    padding: 1%;
  }
}

.social {
  color: $black;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    padding: 1%;
  }
}
