@import "../../assets/main.scss";

.workcard {
  border-radius: 15px;
  margin: 2% 2%;
  padding: 5%;
  width: 100%;
  height: max-content;
  background: $maincolorhover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .workplace {
    width: 100%;
    margin: 5% auto;

    h3 {
      color: $black;
    }

    p {
      color: $black;
      opacity: 0.9;
    }

    .about {
      font-weight: 200;
      color: $black;
    }

    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5%;
      margin: 5% auto;

      span {
        font-weight: 200;
        color: $black;
        padding: 2% 3%;
        border-radius: 5px;
        margin: 1% 0%;
        background: $halfwhite;
      }
    }
  }

  a {
    display: flex;
    gap: 20px;
    width: 100px;
    margin: 0 0 0 auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $maincolor;
    transition: all 0.5s ease;

    &:hover {
      color: $black;
    }

    svg {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: $firstbreakpoint) {
  .workcard {
    width: 42%;
    margin: 1%;
    padding: 0% 2%;
  }
}
