@import "../../assets/main.scss";

.workcard {
  width: 250px;
  height: 200px;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  border-radius: 15px;
  border: 2px solid $maincolor;
  display: flex;
  flex-direction: column;
  background: $maincolorhover;
  position: relative;
  overflow: hidden;

  img {
    height: 25%;
    width: auto;
    margin: 0 auto;
  }

  a {
    position: absolute;
    bottom: 0;
    width: 100%;

    color: $black;
    text-decoration: none;
    button {
      color: $white;
      font-weight: 700;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $maincolor;
      border: 2px solid $maincolor;
      padding: 5% 15%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $white;
        color: $maincolor;
        border: 2px $white solid;
      }
    }
  }
}

@media screen and (min-width: $firstbreakpoint) {
}
