@import "../../assets/main.scss";

.workcard {
  border-radius: 15px;
  margin: 2% 2%;
  padding: 5%;
  width: 100%;
  height: max-content;
  background: $maincolorhover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .nameandimage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
  
    img {
      width: 25px;
      height: 25px;
    }
  
    h3 {
      margin: 2%;
      color: $maincolor;
    }
  }

  

  .workplace {
    width: 100%;
    margin: 10% auto;
    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5%;
      margin: 5% auto;

      span {
        color: $black;
        padding: 2% 3%;
        border-radius: 5px;
        margin: 1% 0%;
        background: rgba(255, 255, 255, 0.698);

        &:hover {
          box-shadow: 10 10 50px rgba(0, 0, 0, 10);
        }
      }
    }
  }

  a {
   display: block;
    border-radius: 5px;
    margin: 1% auto;
    width: auto;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
    background: $maincolor;
    color: white;
    border: none;
    display: block;
    padding: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;

    &:hover {
      background: $black;
      color: $white;
    }
  }
}

@media screen and (min-width: $firstbreakpoint) {
 .workcard{
    width: 25%;
    margin: 1%;
    padding: 2%;
  
 }
}
