.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    .profileHolder{
            width:300px;
            height: 300px;
            border-radius: 50%;
            background: #000;
            object-fit: cover;
     
    }

    .nameHolder{
       padding: 2%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       gap: 2%;
       h1{
           width: max-content;
           text-align: left;
           background: hsl(204, 96%, 64%);
           color: rgb(0, 0, 0);
           transform:skewX(6deg) skewY(-10deg);
       }

       h1:nth-child(2){
           margin-left:30%;
       }

       p{
           margin-top: 10%;
           letter-spacing: 0.2rem;
       }
    }

    
}

.bio{
    p{
        margin: 0 auto;
        width: 50%;
    }
}