@import '../../../assets/main.scss';

.box{
    box-shadow: -1px 1px 7px -1px $shadow;
    color: $black;
    padding: 1% 2%;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    background-color: $white;
    cursor: grab;
    border: 2px solid $maincolorhover;
    z-index: 1;
    opacity: 0;
    &:hover{
        border: 2px solid $white;
    }
    animation: slidein 1s forwards;

    h2,h3{
      margin: 0;
      font-weight: 600;
    }
}


@keyframes slidein {
    from {
      margin-left: 100%;
      
    }
  
    to {
      opacity: 1;
      margin-left: 0%;
    }
  }
