@import "../../assets/main.scss";

.theme-toggler {
  .toggle {
    background: $maincolor;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    cursor: pointer;

    .round {
      border-radius: 50px;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      background: white;
      transition: position 0.2s ease;
    }
  }
}

@media screen and (min-width: $firstbreakpoint) {
  .theme-toggler {
    .toggle {
      width: 60px;
      height: 30px;

      .round {
        width: 30px;
        height: 30px;
      }
    }
  }
}
