@import "../../assets/main.scss";

.home {
  .hero-section {
    padding: 30px 10px;
    .my-name {
      display: flex;
      justify-content: space-around;

      h1 {
        color: $maincolor;
        font-size: 3rem;
        font-weight: 900;
        padding: 5px 0 0 0;
        filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .positions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2%;
      margin-bottom: 10px;

      .my-position {
        color: $black;
        font-size: 1rem;
        letter-spacing: 0.5rem;
        width: max-content;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: $firstbreakpoint) {
  .home {
    .hero-section {
      padding: 20px 10px;

      .my-name {
        h1 {
          font-size: 8rem;
        }
      }

      .positions {
        .my-position {
          font-size: 1.5rem;
          letter-spacing: 2rem;
        }
      }
    }
  }
}
