@import "../../assets/main.scss";

.home {
  .hero-section {
    padding: 30% 2%;
    .my-name {
      display: flex;
      justify-content: space-around;
      cursor: url("../../assets/img/mouse.svg") 4 12, auto;
      h1 {
        color: $maincolor;
        font-size: 3rem;
        font-weight: 900;
        padding: 1% 0 0 0;
        &:hover {
          transform: scale(1.1);
          text-shadow: -1px -1px 0 $shadow, 1px -1px 0 $shadow,
            -1px 1px 0 $shadow, 1px 1px 0 $shadow;
        }
      }
    }

    .positions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2%;
      margin-bottom: 2%;

      .my-position {
        color: $black;
        font-size: 1rem;
        letter-spacing: 0.5rem;
        width: max-content;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: $firstbreakpoint) {
  .home {
    .hero-section {
      padding: 10% 2%;

      .my-name {
        h1 {
          font-size: 8rem;
        }
      }

      .positions {
        .my-position {
          font-size: 1.5rem;
          letter-spacing: 2rem;
        }
      }
    }
  }
}
