@import "../../assets/main.scss";

.cvsection {
  overflow: hidden;
  width: auto;
  margin: 0% auto;
  padding: 5%;
}

.box:nth-child(1) {
  top: 5%;
  left: 5%;
  //fait
}
.box:nth-child(2) {
  top: 14%;
  left: 12%;
  //fait
}
.box:nth-child(3) {
  top: 8%;
  left: 58%;
  //fait
}
.box:nth-child(4) {
  top: 50%;
  left: 5%;
  //fait
}
.box:nth-child(5) {
  top: 20%;
  left: 40%;
  //fait
}
.box:nth-child(6) {
  top: 50%;
  left: 80%;
}
.box:nth-child(7) {
  top: 38%;
  left: 10%;
}
.box:nth-child(8) {
  top: 20%;
  left: 50%;
}
.box:nth-child(9) {
  top: 20%;
  left: 50%;
}
.box:nth-child(10) {
  top: 20%;
  left: 50%;
}
.box:nth-child(11) {
  top: 20%;
  left: 50%;
}
.box:nth-child(12) {
  top: 20%;
  left: 50%;
}
