@import "../../assets/main.scss";

.logowithtext {
  margin: 1% 0%;
  text-decoration: none;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-radius: 15px;
  position: relative;

  &:hover {
   background: $maincolorhover;
  }

  img {
    width: 100px;
    height: 100px;
  }
  img:hover + span {
    display: block;
    background: $maincolorhover;
  }

  span {
    position: absolute;
    bottom: 5%;
    display: none;
    text-align: center;
    color: $black;
    font-weight: 600;
  }
}



@media screen and (min-width: $firstbreakpoint) {
  .tem {
    background: rgb(255, 255, 255);
  }
}
